# ============================================================
# Example configuration file for blockchain backup script
# backup_blockchain_truenas-safe.sh
# ============================================================

ENABLED=true

# --- Network Configuration ---
NAS_USER="your_username"
NAS_HOST="your_nas_ip_address"
NAS_HOSTNAME="your_nashostname"
NAS_SHARE="your_nassharename"

# --- ZFS Pool/Dataset (required) ---
POOL="ssd"
DATASET="blockchain"

# --- Default Paths ---
DEFAULT_MOUNTPATH="/mnt/\${NAS_HOSTNAME}/\${NAS_SHARE}"
SRC_BASE="/mnt/\${POOL}/\${DATASET}"
DEST_BASE="/mnt/\${NAS_HOSTNAME}/\${NAS_SHARE}"
#SRCDIR=""
#DESTDIR=""

# --- USB Configuration ---
use_usb=false
USB_DEVICE="/dev/sdf1"
USB_ID=""
USB_MOUNT="/mnt/usb"

# --- Other Configuration ---
RSYNC_OPTS="-aLx --numeric-ids --mkpath --delete --stats --info=progress2"

# --- Logging Configuration ---
LOG_FORMAT="%Y-%m-%d %H:%M:%S"
LOG_LEVELS="INFO VERBOSE WARN ERROR DEBUG"

