# --- hpms1.conf ---
# letzter Override für backup_blockchain_truenas.sh
# In *.conf *NIE* RSYNC_OPTS setzen. Überschreibt Array -> crash

# hpms1.conf
enabled=true

THIS_HOST="hpms1"
ROLE="validator"

# ZFS konkret
POOL="ssd"
DATASET="blockchain"

# Service (JA – hier!)
SERVICE="bitcoind"

# Optional Maschinen-Ziel
DEST_MACHINE_BASE="/mnt/tank/backups/machines/hpms1"

# USB konkret
USE_USB=false
USB_ID="/dev/disk/by-label/BACKUP_USB"

# Logging lokal
LOGFILE="/var/log/backup_blockchain_truenas.log}"
STATEFILE="/var/log/backup_blockchain_truenas.state"

VERIFY=true # enable always verify
VERBOSE=true # enable verbose outputs

TELEMETRY_ENABLED=true
TELEMETRY_BACKEND="mysql"    # influx|mysql
MYSQL_HOST=""
MYSQL_PORT="3306"
MYSQL_DB="telemetry"
MYSQL_USER="collector"
MYSQL_PASS="use-your-own-brain"
MYSQL_TABLE="blockchain_backup_runs"
